<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="/favicon.ico"/>
    <title>Failed to archive</title>
</head>
<h1>Failed to archive</h1>
<label>May repository not found or day limit reached</label><br>
<a href="/">back</a>
</html>
