<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="/favicon.ico"/>
    <title><%= title %></title>
</head>
<body>
<h1> <%= title %></h1>
<a href="https://github.com/a-simple-org/fork-machine">Star us on GitHub</a><br>
<a href="<%= repo %>">Visit repository</a>
</body>
</html>
